Source: db-backup
Section: test
Priority: optional
Maintainer: Enzo Candotti <enzo.candotti@mi.un.edu.ar>
Build-Depends: debhelper (>=9.0.0),
               dh-systemd (>= 1.5),
               pymongo (>= 3.2.2),
               adduser,
               python3-pip
Standards-Version: 4.0.0

Package: db-backup
Architecture: any
Description: Servicio de actualización de base de datos
 Este servicio corre un script en python que será encargado de mantener la
 coherencia y consistencia entre las bases de datos, tanto la principal como
 la de backup.
 Cada 'polling_secs' segundos, el script hará un dump de los datos de la base
 principal y los guardará en la base secundaria.
 En caso de que la base de datos principal no tenga conexión, se
 esperará hasta que esta vuelva a estar disponible. Llegado ese momento, todos
 los datos almacenados en la base de datos secundaria se replicarán en la
 primaria.
