[Unit]
Description=Database backup manager
After=network-online.target

[Service]
Type=simple
User=dbbackupuser
Group=dbbackupuser
EnvironmentFile=/etc/default/db-backup-parameters
ExecStart=/usr/bin/python3 /usr/sbin/db-backup.py --backup_ip $BACKUP_IP --backup_port $BACKUP_PORT --backup_user $BACKUP_USER --backup_password $BACKUP_PASSWORD --backup_database_name $BACKUP_DATABASE_NAME --default_ip $DEFAULT_IP --default_port $DEFAULT_PORT  --default_database_name $DEFAULT_DATABASE --polling_secs $POLLING_SECS
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
